body {
    background-color: rgb(33, 34, 36);
}

.beholder {
    display: block;
    margin: auto;
    padding: 1%;
}

#drop-menu {
    display: block;
    margin: auto;
    background-color: rgb(131, 130, 130);
    color: white;
    border-color: rgb(10, 10, 10);
    border-radius: 5px;
    font-size: large;
}

h2,h4 {
    text-align: center;
}

#my-monsters {
    display: block;
    background-color: rgb(131, 130, 130);
    color: whitesmoke;
    margin-left: 3%;
    margin-right: 3%;
    min-height: 0;
    border-radius: 10px;
    margin-top: 1%;
    overflow: auto;
}

.monster-name {
    display: inline-block;
    padding: 1%;
    cursor: pointer;
    color: white;
}

#show-pic {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.container {
    display: flex;
    border-radius: 10px;
    background-color: rgb(131, 130, 130);
    padding: 10px;
}

.image {
    max-width: 30%;
    max-height: 60%;
    width: auto;
    height: auto;
    flex-grow: 2;
    border-radius: 5px;
    margin: auto;
}

.actions {
    padding: 10px;
    min-width: 100px;
    flex-grow: 5;
}

.full-heart, .empty-heart {
    height: 10%;
    max-width: 10%;
    max-height: 10%;
    min-height: 10%;
    max-height: 10%;
    width: 10%;
    flex-grow: 1;
    flex-flow: wrap;
    cursor: pointer;
    border-radius: 5px;
    margin: auto;
}
